
.lora-table {
    text-align: center;
    font-size: 0.8rem;
    margin: 0.7rem 0 0.3rem 0
}

.lora-table .td-cmd {
	font-weight: bold;
	font-style: italic;
}

.lora-table .td-cmd-desc {
	text-align: left;
}

.lora-table .td-desc {
	text-align: left;
	vertical-align: top;
}

.lora-table-name {
	padding-left: 1rem;
	font-size: 0.7rem;
	color: gray;
}

.lora-table-title {
	line-height: 1.5rem;
	font-size: 0.7rem;
	color: gray;
}